.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.venv/
venv/
.python-version

.DS_Store
.idea/
.vscode/*.log

mysql/data/*
!mysql/data/.gitkeep
mongodb/data/*
!mongodb/data/.gitkeep
kafka/data/*
!kafka/data/.gitkeep
postgres/data/*
!postgres/data/.gitkeep
airflow/logs/*
!airflow/logs/.gitkeep

*.log
tmp/
temp/
*.tmp
backup/*.sql
*.dump
